<div class="workout_content">
  <h2 class="workout_title">
    Workout
  </h2>
  <p class="workout_lenght">
    <%= @workout.lenght %>
  </p>
  <p class="workout_time_taken">
      Time Taken In: <%= link_to workout.time_taken, workout %> Minutes
    </p>
</div>
